<div class="container">
  <h3>Featured Product</h3>
  <div class="row" style="margin: 30px 0px">
    <div
      class="col"
      *ngFor="let product of featuredProduct"
      style="margin: 10px 0px"
    >
      <!-- <div class="product-card">
        <img
          [src]="product.image[0]"
          alt="Product Image"
          class="product-image"
        />
        <div class="product-info">
          <h3 class="product-title">{{ product.productName }}</h3>
          <p class="product-description">
            {{ product.shortDescription }}
          </p>
          <div class="product-price">
            <span class="price">{{ product.price }} ₹</span>
          </div>
          <button class="add-to-cart-btn">Add to Cart</button>
        </div>
      </div> -->
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>

  <h3>New Arrivals</h3>
  <div class="row">
    <div
      class="col"
      *ngFor="let product of newProduct"
      style="margin: 10px 0px"
    >
      <!-- <div class="product-card">
        <img
          [src]="product.image[0]"
          alt="Product Image"
          class="product-image"
        />
        <div class="product-info">
          <h3 class="product-title">{{ product.productName }}</h3>
          <p class="product-description">
            {{ product.shortDescription }}
          </p>
          <div class="product-price">
            <span class="price">{{ product.price }} ₹</span>
          </div>
          <button class="add-to-cart-btn">Add to Cart</button>
        </div>
      </div> -->
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
